<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <title>Инструкция</title>
</head>
<body>
  <h1>Психологическая типология личности (К. Юнг)</h1>
  <h2 class="explanation">Данная методика предложена К. Юнгом для выявления типологических особенностей личности.</h2>
  <h2 class="explanation">На каждый вопрос имеется два варианта ответа, необходимо выбрать наиболее подходящий для вас.</h2>
  <a href="/test" class="btn">Перейти к тесту</a>
</body>
</html>