<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Результаты</title>
</head>
<body>
    <h1><%= personalityType %></h1>
    <div class='personality'><%= personalityDescr %></div>
    <h3>Пожалуйста завершите тест</h3>
    <a href="/" class="btn loading-anim">Завершить тест</a>
</body>
</html>